<template name="TodosDetail">
{{#if get 'isEditing'}}
    <form class="form edit-todo">
        <input type="text" name="subject" value="{{subject}}" placeholder="Subject">
        <textarea name="description" placeholder="Description">{{description}}</textarea>
        <input class="btn" type="submit" value="Save">
        {{#linkTo route='todos.detail'}}
            Cancel
        {{/linkTo}}
    </form>
    {{else}}
    <h1>{{subject}}</h1>
    <p>{{description}}</p>

    {{#if isMyTodo}}
        {{#linkTo route='todos.edit'}}
            Edit
        {{/linkTo}}
    {{/if}}
{{/if}}
</template>
